.statement_text {
  position: relative;
  min-height: 461px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 66px auto 70px;
  padding: 20px;
  max-width: 1010px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}