@import "../../theme/vars";

.books {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;

    span {
      transition: all 0s ease 0s !important;
    }
  }
  .bookstree-title {
    display: none;
  }

  .common-list {
    margin-left: auto;
  }
}

.sidebar-books {
  .wrap-bookstree {
    left: 0;
    width: 200px;
  }
}

.subbooks-title {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
  color: #555;
}
