.edit_book_modal {
  .delete_link {
    float: left;
    line-height: 29px;
    color: gray;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: none;  
    }
  }

  .md-text-field-container {
    width: 100%;
    margin: 0;
  }
}